<!DOCTYPE html>
<html>

<head>
  <title>Reset password</title>
  <link rel='stylesheet' href='/stylesheets/forgot.css' />
</head>

<body>
  <div class="container">
    <h3>Enter E-mail to reset password</h3>

    <form method="POST" action="/forgot-password">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="Enter your email" required />
      <button type="submit" id="button">Send Reset Link</button>
    </form>
  </div>



</body>

</html>