<!DOCTYPE html>
<html>

<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="/stylesheets/reset-password.css">

</head>

<body>

  

  <form id="passwordForm" action="/reset-password" method="POST">
    <!-- Other form fields -->
    <h1>Reset Password</h1>
    <!-- Display error messages -->
  <div id="errorMessages" style="color: red; font-size: smaller;"  ></div>

    <!-- Password field -->
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  
    <!-- Confirm password field -->
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
  
    <!-- Display password strength message -->
    <div id="passwordStrength"></div>

  
  
    <!-- Submit button -->
    <button type="button" onclick="validatePassword()">Submit</button>
  </form>

  <script>
    function validatePassword() {
      // Get password and confirm password values
      var password = document.getElementById('password').value;
      var confirmPassword = document.getElementById('confirmPassword').value;
    
      // Your regular expression for password validation
      var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
    
      // Error messages div
      var errorMessagesDiv = document.getElementById('errorMessages');
      errorMessagesDiv.innerHTML = ''; // Clear previous messages
    
      // Perform password validation
      if (!passwordRegex.test(password)) {
        errorMessagesDiv.innerHTML += `Password must be atleast 8 characters long should contain atleast one lower and uppercase letters and a special character<br>`;
      }
    
      // Check if passwords match
      if (password !== confirmPassword) {
        errorMessagesDiv.innerHTML += 'Passwords do not match<br>';
      }
    
      // If there are error messages, do not submit the form
      if (errorMessagesDiv.innerHTML !== '') {
        return;
      }
    
      // If validation passes, submit the form
      document.getElementById('passwordForm').submit();
    }
    </script>

</body>

</html>